#container{
    border: 2px solid rgb(89, 89, 255);
    margin: auto;
    width: 380px;
    height: 100%;
    background-color: rgb(240, 248, 248);
    padding: 0px 20px;
}
input{
    width: 350px;
    border: 1px solid rgb(219, 212, 212);
    height: 30px;
    border-radius: 50px;
    padding-left: 20px;
    margin: 8px 0px;
}
label{
    text-align: left;
    font-size: smaller;
    color: rgb(126, 126, 122);
}
#tell{
    font-size: 25px;
    color: rgb(27, 27, 25);
}
#back{
    color: rgb(122, 122, 228);
    font-size: medium;
}
button{
    text-align: center;
    width: 375px;
    height: 35px;
    border-radius: 50px;
    border: 2px solid transparent;
    background-color: rgb(35, 35, 211);
    color: white;
    font
}
a{
    
}